table{
  
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin: 50px auto;
}
table thead{
 background-color: rgb(121, 121, 121);
}
table thead th{
    font-size: 28px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
table tbody td{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    border: #ccc 1px solid;

}

table tbody tr:nth-child(even){
    background-color: #f2f2f2;
}


